.drag-container {
    display: flex;
    min-height: 100vh;
}

.panel-one,
.panel-two {
    margin: .5em;
}

.panel-one {
    position: relative;
    min-width: 19rem;
    width: 50%;
    background: #edf0f5;
    border-radius: 7px;
    box-shadow: 0 0 6px 0px lightgray;
}

.panel-one ._panel-one-message {
    height: 100%;
}

.panel-two {
    min-width: 19rem;
    width: 28rem;
}

.dragbar {
    padding: 2px;
    cursor: col-resize;
    background-color: silver;
}