/* head of the chat */
.head {
    display: flex;
}

.head h1 {
    margin-left: auto;
}

/* message body section */
.message-body {
    display: grid;
}

.message-body div {
    position: relative;
    align-items: center;
    word-break: break-word;
    display: inline-flex;
    background: white;
    margin-bottom: .3em;
    border-radius: 7px;
    min-height: 3em;
    padding: 0.5em;
    font-weight: 600;
    color: #484c5f;
}

/* pin tip on left */
.message-body .leftish {
    position: relative;
    justify-self: flex-end;
    direction: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 1px 3px 0 lightgray;
}

.message-body .leftish::after {
    content: '';
    position: absolute;
    left: -0.15em;
    bottom: 0em;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
}

/* pin tip on right */
.message-body .rightish {
    position: relative;
    justify-self: flex-start;
    direction: auto;
    background-color: rgb(208 211 228);
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 1px 3px 0 lightgray;
}

.message-body .rightish::after {
    content: '';
    position: absolute;
    right: -0.15em;
    bottom: 0em;
    width: 7px;
    height: 7px;
    background-color: rgb(208 211 228);
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
}

/* image person of each color */
.message-body div::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 6px 0 whitesmoke;
}

.message-body .rightish::before {
    content: '';
    position: absolute;
    right: -1.7em;
    bottom: 0;
}

.message-body .leftish::before {
    content: '';
    position: absolute;
    left: -1.7em;
    bottom: 0;
}

/* user input config */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: .5em;
    position: absolute;
    background: white;
    width: 95%;
    border-radius: 15px;
    right: 0;
    transform: translateX(-3%);
    height: 3em;
}

.footer .user-input {
    text-align: right;
    width: 100%;
    border: 0;
    margin: 0 .5rem;
    border-style: none;
    font-size: 1.2em;
    word-break: break-word;
}

.footer .user-input:hover,
.footer .user-input:active,
.footer .user-input:focus {
    outline: 0;
}

.icon {
    padding: 10px;
    background: #0a9d8b;
    color: white;
    min-width: 50px;
    height: 2.5em;
    text-align: center;
    border-radius: 15px;
    margin-left: .3rem;
    cursor: pointer;
}

.btn {
    font-size: 1.2rem;
}

/* personal img */
img {
    width: 2em;
    height: 2em;
}